.song-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px; /* Adjust the border-radius to make it more or less pill-shaped */
  overflow: hidden;
  border: 1px solid #ddd; /* Border color */
  margin: 10px;
  width: fit-content; /* Adjust width as needed */
  max-width: 1000px; /* Set the maximum width as needed */
  max-height: 200px;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
  z-index: 3;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.04);
    transition: transform 0.3s ease-in;
    box-shadow: #b702ff 0px 0px 11px 0px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  @media (max-width: 767px) {
    max-height: 300px; /* Increase the maximum height for mobile devices */
    text-align: center;
    flex: auto;
    
  }
}

.album-cover {
  width: 50px; /* Adjust the width of the image as needed */
  height: 50px; /* Adjust the height of the image as needed */
  border-radius: 10px; /* Adjust the border-radius for the pill shape */
  margin: 1rem;
  box-shadow: 0px 0px 8px 0px black;
}

h3 {
  margin: 0;
  padding: 10px;
  color: black;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: smaller;
  text-align: center;
  margin-left: 2rem;
  @media (min-width: 768px) {
    text-align: start;
    margin-right: 1rem; /* Add margin to separate names from buttons */
    width: 700px;
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-right: 2rem;
  z-index: 4;
  @media (min-width: 768px) {
    justify-content: flex-end;
    margin-top: 0;
    margin-right: 2rem; /* Adjust the margin to move buttons away from the edge */
  }
  .play-button {
    margin-right: 2rem;
  }
  @media screen and (max-width: 768px) {
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

button {
  padding: 7px 15px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: #b702ff; /* Button color, adjust as needed */
  color: #fff; /* Button text color, adjust as needed */
  font-weight: 700;
  @media screen and (max-width: 768px) {
    justify-items: center;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  

}