/* home.scss */

.song-cards-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
  background-color: rgb(43, 43, 43);
  margin: 0 auto; // Center the container horizontally
  padding: 1rem;
  border-radius: 30px; // Adjust the border-radius to make it more or less pill-shape
  width: 1050px;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    /* Adjustments for smaller screens */
    width: 300px;
    margin-top: 4rem;
  }

  h2{
    color: #b702ff;
    font-weight: 900;
    font-size: 2rem;
    text-align: flex-start; 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }
   
}

.searchbar{
  display: flex;
  align-items: center;
  justify-content: center; // Center horizontally
  width: 100%;
  max-width: 400px;
  margin: 0 auto; // Center the container horizontally
  margin-bottom: 20rem;
}

.home-title {
  color: white;
  font-weight: 900;
  font-size: 6em; // Increase the font size to make the text much larger
  text-align: center; // Center the text on the screen
  display: flex; // Align items and justify content center
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  .home-purple {
    color: #b702ff; // Set the text color to purple
    margin-bottom: 20px;
    animation: home-floating 3s ease-in-out infinite; // Add floating animation
    margin-top: 2rem;
  }

  @keyframes home-floating {
    0% {
        transform: translateY(-24px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(-24px);
    }
}

}

.pill-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.button-item {
  padding:  0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #b702ff;
  font-weight: 800;
  cursor:pointer;
  transition: all 0.3s ease;
  margin: 0.5rem;

}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
}